---
export interface MenuItem {
  href: string;
  title: string;
  body: string;
}

const { textColor = 'black', headerClasses = '', backgroundColor = 'bg-white', menuColor = '#ffffff' } = Astro.props;


const pages: MenuItem[] = [
	{ title: 'About me', href: '/about', body: 'Learn how Astro works and explore the official API docs.' },
	{ title: 'Services', href: '/services', body: 'Supercharge your project with new frameworks and libraries.' },
	{ title: 'Blog', href: '/blog', body: 'Explore a galaxy of community-built starter themes.' },
	{ title: 'Contact', href: '/contact', body: 'Come say hi to our amazing Discord community. ❤️' },
];

---

<header class={`absolute z-10 w-full ${headerClasses}`}>
  <div class={`px-8 py-4 relative z-20 ${backgroundColor}`}>
    <div class="flex justify-between items-center">
      <a href="/" class={`text-${textColor} text-xl font-bold`}>Pier Gorelli</a>
      <nav class="flex justify-between items-center">
        <ul class="items-center hidden sm:flex">
            { pages.map((item) => (
              <li class={`flex mr-4 text-${textColor}`}><a href={item.href} class="group overflow-hidden relative inline-block ml-[1vw] text-xl" title={item.body} style="height:max-content;"><span data-hover={item.title} class="relative inline-block transition duration-300 before:content-[attr(data-hover)] before:absolute before:top-[100%] group-hover:translate-y-[-100%] before:translate-3d-0">{item.title}</span></a></li>
            ))}
        </ul>

        <button class="hamburger hamburger--squeeze relative sm:!hidden bg-white" type="button" aria-controls="mobile-menu" aria-expanded="false">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </nav>
    </div>
  </div>
  <div class="hidden sm:hidden { backgroundColor } transform transition-all duration-300 ease-in-out -translate-y-full z-10" id="mobile-menu">
    <div class="space-y-1 px-5 pb-3 pt-2">
      { pages.map((item) => (
        <a href={item.href} class={`block rounded-md ${backgroundColor} px-3 py-2 text-base font-medium text-${ textColor }`} title={item.body}>{item.title}</a>
      ))}
    </div>
  </div>
</header>

<style define:vars={{ 'menuColor':menuColor }} lang="scss">
  $hamburger-padding-x: 0;
  $hamburger-padding-y: 0;
  $hamburger-layer-height: 2px;
  $hamburger-layer-color:  var(--menuColor);
  $hamburger-layer-width: 32px;
  
  @import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

</style>
<script>
  const mobileMenu = document.getElementById('mobile-menu');
  const button = document.querySelector('button[aria-controls="mobile-menu"]');

  if(button && mobileMenu) {
    const openIcon = button.querySelector('.open-icon');
    const closeIcon = button.querySelector('.close-icon');

    button.addEventListener('click', () => {
      const expanded = button.getAttribute('aria-expanded') === 'true' || false;
      button.setAttribute('aria-expanded', String(!expanded));
      if (expanded) {
        mobileMenu.classList.add('-translate-y-full');
       
      } else {
        mobileMenu.classList.remove('hidden');
        setTimeout(() => {
          mobileMenu.classList.remove('-translate-y-full');
        }, 10);
      }

      if(openIcon && closeIcon) {
        openIcon.classList.toggle('hidden');
        closeIcon.classList.toggle('hidden');
      }
    });
  }
  const hamburgers = document.querySelectorAll(".hamburger");
  if (hamburgers.length > 0) {
    hamburgers.forEach(hamburger => {
      hamburger.addEventListener("click", function(this: HTMLElement) {
        this.classList.toggle("is-active");
      }, false);
    });
  }
</script>