---
import { CodeIcon, LayoutIcon, SearchIcon, SmartphoneIcon  } from 'astro-feather';

export interface ServiceItem {
  title: string;
  body: string;
  icon: string;
}

type Props = {
  size: number;
  strokeWidth: number;
  customClasses: string;
  subtitle: string;
};

const { size, strokeWidth, customClasses, subtitle = "" } = Astro.props;

const iconMap: { [key: string]: (_props: Props) => any } = {
  code: CodeIcon,
  layout: LayoutIcon,
  search: SearchIcon,
  phone: SmartphoneIcon,
};

const services: ServiceItem[] = [
  { title: 'Web<br/>Development', body: 'Development is a constantly evolving laboratory. I leverage cutting-edge technologies and industry best practices to craft digital products that are high-performing, functional, and unforgettable.', icon: 'code' },
  { title: 'App<br/>Development', body: 'Whether it’s a hybrid app, a native solution, or a progressive web app (PWA), I focus on creating responsive, user-friendly, and efficient applications that work seamlessly across devices.', icon: 'phone' },
  { title: 'UI/UX Design', body: 'I’m passionate about design and work hand-in-hand with skilled designers to craft intuitive interfaces and seamless user experiences. Together, we transform complexity into simplicity, ensuring every interaction is functional and enjoyable.', icon: 'layout' },
  { title: 'SEO<br/>Optimization', body: 'Good design and functionality are only part of the story—visibility is key. I optimize digital products to rank higher in search engines, combining technical SEO with best practices to ensure your content gets noticed and reaches the right audience.', icon: 'search'},
];
---
<section class="w-full bg-white pt-28 lg:pt-48">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 border-t">
        <div class="py-5 flex justify-between">
          <span class="uppercase">(Services)</span>
          <span class="">{subtitle}</span>
        </div>
        <h2 class="text-3xl lg:text-4xl font-display font-bold text-boulder-900">Expertise</h2>
        <div class="mt-16">
          { services.map((item, index) => {
            const IconComponent = iconMap[item.icon] || null;
            return (
            <div class="py-14 border-b first:border-t transition-colors duration-300 ease-in-out">
              <div class="grid grid-cols-[1fr_5fr_2fr] grid-rows-[auto_auto_auto] lg:grid-cols-3 lg:grid-row-none xl:grid-cols-[2fr_4fr_4fr_2fr] lg:gap-4">
                <span class="text-2xl lg:text-3xl font-semibold order-2 lg:order-1 row-span-1 col-span-1 text-boulder-900">{(index + 1).toString().padStart(2,'0')}.</span>
                <h3 class="text-2xl lg:text-3xl font-semibold lg:col-span-1 xl:col-auto order-2 row-span-1 col-span-1 leading-tight text-boulder-900" set:html={item.title} />
                <p class="text-lg lg:text-xl text-boulder-400 lg:col-start-2 lg:row-start-2 xl:col-auto xl:row-auto order-3 row-start-3 row-end-4 col-start-1 col-end-4">{ item.body }</p>
                <div class="flex lg:justify-end text-end order-1 lg:order-4 col-start-1 col-end-4 lg:col-start-auto lg:col-end-auto">
                  {IconComponent ? (
                      <IconComponent size={size} strokeWidth={strokeWidth} customClasses={customClasses} subtitle=""/>
                    ) : (
                      <div>Icon not found</div>
                    )}
                </div>
              </div>
            </div>
          )})}
        </div>
      </div>
    </div>
  </div>
</section>
